@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 22% 15%;
    --foreground: 48 9% 78%;
    --muted: 222 12% 19%;
    --muted-foreground: 222 12% 69%;
    --popover: 222 22% 12%;
    --popover-foreground: 48 9% 88%;
    --card: 222 22% 13%;
    --card-foreground: 48 9% 83%;
    --border: 222 12% 20%;
    --input: 222 12% 23%;
    --primary: 40 100% 70%;
    --primary-foreground: 40 100% 10%;
    --secondary: 40 30% 25%;
    --secondary-foreground: 40 30% 85%;
    --accent: 222 22% 30%;
    --accent-foreground: 222 22% 90%;
    --destructive: 9 86% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 100% 70%;
    --chart-1: 40 100% 70%;
    --chart-2: 40 30% 25%;
    --chart-3: 222 22% 30%;
    --chart-4: 40 30% 28%;
    --chart-5: 40 103% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 22% 15%;
    --foreground: 48 9% 78%;
    --muted: 222 12% 19%;
    --muted-foreground: 222 12% 69%;
    --popover: 222 22% 12%;
    --popover-foreground: 48 9% 88%;
    --card: 222 22% 13%;
    --card-foreground: 48 9% 83%;
    --border: 222 12% 20%;
    --input: 222 12% 23%;
    --primary: 40 100% 70%;
    --primary-foreground: 40 100% 10%;
    --secondary: 40 30% 25%;
    --secondary-foreground: 40 30% 85%;
    --accent: 222 22% 30%;
    --accent-foreground: 222 22% 90%;
    --destructive: 9 86% 58%;
    --destructive-foreground: 0 0% 100%;
    --ring: 40 100% 70%;
    --chart-1: 40 100% 70%;
    --chart-2: 40 30% 25%;
    --chart-3: 222 22% 30%;
    --chart-4: 40 30% 28%;
    --chart-5: 40 103% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
